DATABASE_URL="postgresql://neondb_owner:npg_AfMX2NEW1GIa@ep-empty-sunset-altgzk5x-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
AUTH_SECRET="ghi-verus-electrico-secret-2026-dev"
NEXTAUTH_URL="http://localhost:3000"
NODE_ENV="development"
